.vscode
ALIKE+Boost-B.txt
MANIFEST.in
MDMT.png
__pycache__/
checkpoint/
imagetrackbox/
matchingimages/
matchingpoints/
workdirs/
work_dirs/
demo/eval/test/
json_resultfiles2/supplement_supplement/NMS-one_carafe_bytetrack_full_mdmt/